* {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.066);
  /* position-anchor: initial; */
  background-color: white;
  position: sticky;
  top: 0;
  height: 70px;
  z-index: 4;
}

.icon-search {
  display: flex;
  gap: 30px;
  align-items: center;
  color: blue;
}
.search {
  height: 30px;
  border-radius: 10px;
}
.big-icon {
  font-size: 40px;
  color: rgba(6, 6, 114, 0.844);
}

.profile-card {
  display: flex;
  gap: 30px;
  align-items: center;
}

.icons {
  display: flex;
  gap: 30px;
}

.button-icon {
  font-size: 30px;
  color: blue;
  border-radius: 80px;

  /* box-shadow: 2px 2px 1px 0px black, 0px -1px 0px 0px #8d8989; */
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

div {
  list-style-type: none;
  display: flex;
  gap: 20px;
}
.list {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

/* style for the left side */
.left {
  height: calc(100vh - 30px);
  margin: 0px;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 15px;
  background-color: #9d9fa1;
  position: sticky;
  top: 0;
  overflow: scroll;
  overflow-x: hidden;
}

/* style for the center of the page */
.container {
  background-color: #c4c7cc;
  display: flex;
  flex-direction: row;
}
.center {
  background-color: #c4c7cc;

  width: 60%;
  display: flex;
  flex-direction: column;
  
}

/* style for the right side of the page */

.right {
  height: calc(100vh - 30px);
  width: 20%;
  display: flex;
  flex-direction: column;

  padding: 15px;
  background-color: #abadaf;
  position: sticky;
  overflow: scroll;
  overflow-x: hidden;
  top: 0;
 

  
  margin: 0px;
}

.profile-card2 {
  gap: 30px;
  align-items: center;
}
.profile-card2 p {
  margin: 0;
}

.icon-text {
  align-items: center;
  gap: 20px;
  margin: 0;
}
.arrow {
  font-size: 20px;
  border-radius: 10%;

  box-shadow:
    2px 2px 1px 0px black,
    0px -1px 0px 0px #8d8989;
}

p {
  font-size: 20px;
}

.icon-text1 {
  width: 100%;
  align-items: center;
  gap: 20px;
  margin: 0;
  background-color: #8d898951;
}
hr {
  padding: 0px;
  margin: 0px;
  margin-left: 0px;
  color: black;
  width: 100%;
  height: 2px;
  background-color: rgba(114, 113, 113, 0.74);
}

.img-text {
  align-items: center;
  gap: 20px;
  margin: 0;
}
.imgg {
  width: 70px;
  height: 70px;
  border-radius: 20%;
}
.imgg-text {
  width: 90%;
  font-size: 20px;
}


.search-main {
  background-color: aqua;
}

.chat-container {
  /* width:800px; */
  background: #a4a8ae;
  padding: 12px 16px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.input-box {
  flex: 1;
  background: #d8dce2;
  height: 48px;
  border-radius: 25px;
  padding: 0 18px;
  display: flex;
  align-items: center;
  color: #b6b6b6;
  font-size: 15px;
}

.icons {
  display: flex;
  gap: 14px;
}

.icon {
  width: 36px;
  height: 36px;
  border-radius: 10px;
  background: #737880;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.icon:hover {
  background: #333840;
}

.post-1 {
}

.post-1-img {
  width: 50px;
  height: 50px;
  margin-left: 5px;
  border-radius: 50%;
}
small {
  color: #737880b2;
}
.post {
  color: #737880;
  font-size: small;
}
.post-1-captionimg {
  display: flex;
  flex-direction: column;
}

.caption {
  margin-left: 5px;
}
.post-container {
  background-color: rgba(240, 248, 255, 0.262);
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  box-sizing: content-box;
  border-radius: 5px;
 
}

.cont-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 5px;
}
.cont-img {
  align-items: center;
}
.cont {
  display: flex;
  justify-content: space-between;
  margin-left: 5px;
}
.gift {
  margin-left: 8px;
}
.imggg-card img {
  width: 120px;
  height: 120px;
}


.story-wrapper{
  display:flex;
  gap:22px;
  margin-top: 10px;
}

.story-card{
  width:260px;
  height:330px;
  border-radius:22px;
  overflow:hidden;
  position:relative;
}

.story-card img{
  width:100%;
  height:100%;
  object-fit:cover;
}

/* gradient overlay */
.story-card::after{
  content:"";
  position:absolute;
  inset:0;
  background:linear-gradient(to top, rgba(255,255,255,.95), rgba(255,255,255,0) 55%);
}

/* text */
.story-text{
  position:absolute;
  bottom:22px;
  width:100%;
  text-align:center;
  font-size:22px;
  letter-spacing:.3px;
  font-weight:500;
  z-index:2;
}

/* add button */
.add-btn{
  position:absolute;
  left:50%;
  transform:translateX(-50%);
  bottom:70px;
  width:64px;
  height:64px;
  background:#fff;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:46px;
  color:#2144ff;
  font-weight:400;
  box-shadow:0 8px 16px rgba(0,0,0,.18);
  z-index:3;
}
.add-btn:hover{
  box-shadow: inset 2px 2px 2px 2px rgb(163, 156, 156), inset 4px 4px 4px 4px white;
}



