* {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.066);

  background-color: white;
  position: sticky;
  top: 0;
  height: 70px;
  z-index: 4;
}

.big-icon-2 {
  font-size: 30px;
  color: #575656;
}
.big-icon-2:hover {
  color: rgba(6, 6, 114, 0.844);

  transform: scale(1.2);
}

.icon-search {
  display: flex;
  gap: 30px;
  align-items: center;
  color: blue;
}
.search {
  height: 30px;
  border-radius: 10px;
}
.big-icon {
  font-size: 20px;
  color: rgba(6, 6, 114, 0.844);
}

.profile-card {
  display: flex;
  gap: 30px;
  align-items: center;
}

.icons {
  display: flex;
  gap: 30px;
}

.button-icon {
  font-size: 25px;
  color: rgb(1, 1, 1);
  border-radius: 100%;
  box-shadow:
    1px 0px 2px 2px #e7e7e7,
    2px 2px 2px 2px #f9f9f9;
  align-items: center;
}
.button-icon:hover {
  color: blue;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

div {
  list-style-type: none;
  display: flex;
  gap: 20px;
}
.list {
  list-style-type: none;
  display: flex;
  gap: 30px;
}

/* style for the left side */
.left {
  height: calc(100vh - 30px);
  margin: 0px;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 15px;
  background-color: #fbfcfc;
  position: sticky;
  top: 0;
  overflow: scroll;
  overflow-x: hidden;
}

.profile-card2 {
  gap: 30px;
  align-items: center;
}
.profile-card2 p {
  margin: 0;
}

.icon-text {
  align-items: center;
  gap: 20px;
  margin: 0;
}
.arrow {
  font-size: 25px;
  border-radius: 50%;
  background: #d9dcdc;
  color: #828787;
}
.arrow:hover {
  color: black;
}

p {
  font-size: 20px;
}

.icon-text1 {
  width: 100%;
  align-items: center;
  gap: 20px;
  margin: 0;
}
.see {
  text-decoration: underline;
  color: #828787;
}
.see:hover {
  color: black;
}
hr {
  padding: 0px;
  margin: 0px;
  margin-left: 0px;
  color: black;
  width: 100%;
  height: 2px;
  background-color: rgba(114, 113, 113, 0.74);
}

.img-text {
  align-items: center;
  gap: 20px;
  margin: 0;
}
.imgg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.imgg-text {
  width: 90%;
  font-size: 20px;
}

/* style for the center of the page */
.container {
  background-color: #fbfcfc;
  display: flex;
  flex-direction: row;
}
.center {
  background-color: #fbfcfc;

  width: 60%;
  display: flex;
  flex-direction: column;
  background: #eae8e8;
}

/* style for the right side of the page */

.right {
  height: calc(100vh - 30px);
  width: 20%;
  display: flex;
  flex-direction: column;

  padding: 15px;
  background-color: #fbfcfc;
  position: sticky;
  overflow: scroll;
  overflow-x: hidden;
  top: 0;

  margin: 0px;
}

.search-main {
  background-color: aqua;
}

.chat-container {
  background: #95a0a050;
  padding: 12px 16px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  margin: 5px 15px;
  gap: 12px;
}

.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.input-box {
  flex: 1;
  background: #ffffff;
  height: 48px;
  border-radius: 25px;
  padding: 0 18px;
  display: flex;
  align-items: center;
  color: #b6b6b6;
  font-size: 15px;
}

.icons {
  display: flex;
  gap: 14px;
}

.icon {
  width: 36px;
  height: 36px;
  border-radius: 10px;
  background: #e7e8ea;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.icon:hover {
  background: #b1b3b6;
}

.post-1-img {
  width: 50px;
  height: 50px;
  margin-left: 5px;
  border-radius: 50%;
  border: 3px solid blue;
}
small {
  color: #737880b2;
}
.post {
  color: #737880;
  font-size: small;
}
.post-1-captionimg {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.post-1-captionimg img {
  height: 500px;
  width: 600px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.caption {
  margin-left: 5px;
}
.post-container {
  background-color: #edeff1;
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  box-sizing: content-box;
  border-radius: 5px;
  width: 600px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin: 5px 152px 5px 153px;
}

.cont-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 5px;
}
.cont-img {
  align-items: center;
  position: relative;
}
.cont {
  display: flex;
  justify-content: space-between;
  margin-left: 5px;
}
.gift {
  margin-left: 8px;
}
.imggg-card img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  border: 4px solid rgb(137, 118, 12);
}
.imggg-card {
  padding-right: 5px;
  gap: 5px;
}

.story-wrapper {
  display: flex;
  gap: 22px;
  margin: 10px 15px;
}

.story-card {
  width: 260px;
  height: 330px;
  border-radius: 22px;
  overflow: hidden;
  position: relative;
}
.story-card:hover {
  border: 3px solid blue;
}

.story-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* gradient overlay */
.story-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(156, 152, 152, 0.95),
    rgba(255, 255, 255, 0) 55%
  );
}

/* text */
.story-text {
  position: absolute;
  bottom: 22px;
  width: 100%;
  text-align: center;
  font-size: 22px;
  letter-spacing: 0.3px;
  font-weight: 500;
  z-index: 2;
  color: white;
  margin-left: 15px;
}
.story-text-1 {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 22px;
  letter-spacing: 0.3px;
  font-weight: 500;
  z-index: 2;
  color: white;
}

/* add button */
.add-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 70px;
  width: 64px;
  height: 64px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 46px;
  color: #2144ff;
  font-weight: 400;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
  z-index: 3;
}
.add-btn:hover {
  box-shadow:
    inset 2px 2px 2px 2px rgb(163, 156, 156),
    inset 4px 4px 4px 4px white;
}

.like {
  background-color: #ffffff;
  height: 30px;
  padding: 10px;
  display: flex;
  margin-top: 0px;
  justify-content: space-around;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.like-icon:hover {
  /* color: #2144ff; */
  transform: scale(1.2);
}
.like-icon:active {
  color: #2144ff;
}

.blue-tick {
  width: 20px;

  border-radius: 50%;
}
html {
  scroll-behavior: smooth;
}

.like-text:hover {
  background-color: #a3a5a9b6;
}

.big-icon-11 {
  font-size: 40px;
  color: rgba(6, 6, 114, 0.844);
}
.bottom {
  color: #828787;
}
span {
  gap: 10px;
}
.giftt {
  color: red;
  font-size: 30px;
}
.gift {
  font-family: "Times New Roman", Times, serif;
  color: #575656;
}
.status {
  width: 10px;
  height: 10px;
  background: #00ff00;
  border-radius: 50%;
  position: absolute;
  bottom: 1px;
  left: 35px;
  border: 3px solid white;
}


.chatwith img{
  height: 70px;
  width: 70px;
}
.chatwith{
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 100%;
}
.chatwith:hover{
  transform: scale(1.2);
 
}